.skills_container{
    grid-template-columns: repeat(2,350px);
    column-gap: 4rem;
    justify-content: center;
}


.skills_content{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1 );
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    height: 400px;
    width: 390px;
}

.skills_content3{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1 );
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    height: 400px;
    row-gap: 3rem;
    width: 390px;
}

.skills_title{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}


.skills_group1{
    display: grid;
    align-items: flex-start;
    row-gap: 2rem;
}

.skills_group2{
    display: grid;
    align-items: flex-start;
    row-gap: 3rem;
}

.skills_data{
    display: flex;
    column-gap: .5rem;
}

.skills_data i{
    font-size: 1rem;
    margin-top: 0.5rem;
    color: hsl(0, 0%, 20%);
}
.backend{
    row-gap: 3rem;
}


.Tech_stack{
    display: flex;
    justify-items: center;
    align-items: center;

}


@media screen and (max-width:992px) {
    .skills_container{
        grid-template-columns: max-content;
        row-gap: 2.5rem;
    }
    .skills_content3{
        margin-left: -190px;
    }
}

@media screen and (max-width:576px) {
    .skills_container{
        grid-template-columns: 1fr;
    }
    .skills_content{
        padding: 1.5rem;
    }
    .skills_content3{
        padding: 1.5rem;
        margin-left: -190px;
        
    }
}

@media screen and (max-width:350px) {
    .skills_box{
        column-gap: 1.25rem;
    }
    .skills_name{
        font-size: 0.9rem;
    }
}