.footer {
    background-color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px; /* Reduced height */
}

.footer_container {
    padding: 1rem 0 2rem; /* Reduced padding */
}

.footer_title,
.footer_link {
    color: hsl(0, 0%, 20%);
}

.footer_title {
    text-align: center;
    margin-bottom: 1rem; /* Optional: Reduced margin for a compact look */
}

.footer_link:hover {
    color: hsl(0, 0%, 0%);
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 1.5rem; /* Optional: Reduced margin */
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    align-items: center;
}

.footer_social-link {
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
}

.footer_social-link i {
    color: white;
    font-size: 1rem;
}

.footer_social-link:hover {
    background-color: hsl(0, 0%, 0%);
}

.footer_copy {
    display: flex;
    margin-top: 2rem; /* Optional: Reduced margin for a tighter look */
    color: hsl(0, 0%, 26%);
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .footer_social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}
